<% layout('./layouts/boilerplate') %>
<body>
    <div class="show-det container my-4">
        <div class="row">
            <!-- Product Image -->
            <div class="col-md-6 img-det text-center">
                <img src="<%= listing && listing.image ? listing.image.url : '/images/default-image.jpg' %>" 
                     alt="<%= listing && listing.title ? listing.title : 'Product Image' %>" 
                     class="img-fluid rounded">
            </div>

            <!-- Product Details -->
            <div class="col-md-6 text-det mt-4">
                <!-- Product Title -->
                <h4 class="product-title"><%= listing && listing.title ? listing.title : 'No Title Available' %></h4>

                <!-- Price Section -->
                <div class="row-price d-flex align-items-center flex-wrap">
                    <p class="card-text">&#8377;<%= listing && listing.price ? listing.price.toLocaleString("en-IN") : 'Price Not Available' %></p>
                    <% if (listing && listing.Rprice) { %>
                        <p class="card-text strikethrough ml-3 text-muted">&#8377;<%= listing.Rprice.toLocaleString("en-IN") %></p>
                        <p class="ml-2 text-danger">Sale</p>
                    <% } %>
                </div>

                <p class="tax">Inclusive of all Taxes</p>

                <!-- Color options -->
                <p>Colors</p>
                <div class="short-img d-flex">
                    <img src="<%= listing && listing.image ? listing.image.url : '/images/default-image.jpg' %>" 
                         alt="Color Image" 
                         class="img-fluid rounded-circle mr-2" 
                         style="width: 50px;">
                </div>
                <% if(curruser){ %>
                <% if (curruser.username === "admin@123") { %>
                    <!-- Admin View Only: Edit/Delete + Description -->
                    <div class="d-flex flex-wrap mt-3">
                        <a href="/listings/<%= listing._id %>/edit7" class="btn btn-secondary mr-2 mb-2">Edit</a>
                        <form class="delete_form" action="/listings/<%= listing._id %>/del7?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger mb-2">Delete</button>
                        </form>
                    </div>
                    <p><%= listing && listing.description ? listing.description : 'No description available' %></p>

                <% }}  if (curruser) { %>
                    <!-- Logged-in User View -->
                     <% if(!curruser.username === "admin@123"){ %>
                    <h4>Select Size (UK)</h4>
                    <div class="btn-group d-flex flex-wrap" role="group">
                        <% [6,7,8,9,10].forEach(size => { %>
                            <button type="button" class="btn btn-outline-secondary m-1" data-size="<%= size %>"><%= size %></button>
                        <% }) %>
                    </div>
                    <input type="hidden" id="selectedSize" name="size" value="">

                    <p>Quantity</p>
                    <div class="input-group mb-3 w-100 w-md-50">
                        <button class="btn btn-outline-secondary" type="button" onclick="decreaseValue()">-</button>
                        <input type="number" id="quantity" class="form-control text-center" value="1" min="1" max="10">
                        <button class="btn btn-outline-secondary" type="button" onclick="increaseValue()">+</button>
                    </div>

                    <p>Check delivery at your location &nbsp;<i class="fas fa-truck"></i></p>
                    <div class="d-flex flex-wrap">
                        <input placeholder="Enter Your Pincode" type="number" name="pincode" class="form-control w-100 w-md-50">
                        <button class="btn btn-primary ml-2 mt-2 mt-md-0" type="button" onclick="checkDelivery()">CHECK</button>
                    </div>

                    <div class="container mt-4">
                        <form>
                            <input type="hidden" id="product-id" value="<%= listing._id %>">
                            <input type="hidden" id="model" value="Collections">
                            <div class="d-flex flex-wrap">
                                <button type="button" class="btn btn-warning mr-2 mb-2" onclick="addToCart()">Add to Cart</button>
                                <button type="button" class="btn btn-success mb-2" onclick="buyNow()">Buy Now</button>
                            </div>
                        </form>
                    </div>

                    <p><%= listing && listing.description ? listing.description : 'No description available' %></p>

                <% }} else { %>
                    <!-- Not Logged In View -->
                    <a href="/login" style="text-decoration: none; color: inherit;">
                        <h4>Select Size (UK)</h4>
                        <div class="btn-group d-flex flex-wrap" role="group">
                            <% [6,7,8,9,10].forEach(size => { %>
                                <button type="button" class="btn btn-outline-secondary m-1"><%= size %></button>
                            <% }) %>
                        </div>

                        <p>Quantity</p>
                        <div class="input-group mb-3 w-100 w-md-50">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input type="number" class="form-control text-center" value="1" min="1" max="10" disabled>
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>

                        <p>Check delivery at your location &nbsp;<i class="fas fa-truck"></i></p>
                        <div class="d-flex flex-wrap">
                            <input placeholder="Enter Your Pincode" type="number" class="form-control w-100 w-md-50" disabled>
                            <button class="btn btn-primary ml-2 mt-2 mt-md-0" type="button">CHECK</button>
                        </div>

                        <div class="container mt-4">
                            <div class="d-flex flex-wrap">
                                <button type="button" class="btn btn-warning mr-2 mb-2">Add to Cart</button>
                                <button type="button" class="btn btn-success mb-2">Buy Now</button>
                            </div>
                        </div>

                        <p><%= listing && listing.description ? listing.description : 'No description available' %></p>
                    </a>
                <% } %>
            </div>
        </div>
    </div>

    <div id="snackbar"></div>
</body>
